<form ng-submit="save()">
  <p>
    <input type="text"
           name="title"
           id="note_title"
           autofocus
           placeholder="Title of Note"
           ng-model="note.title">
  </p>
  <p>
    <textarea name="body_html"
              placeholder="Message of Note"
              ng-model="note.body_html"></textarea>
  </p>
  <div class="form-actions">
    <input  type="submit" name="commit" value="Save" class="btn btn-default">
    <button  type="button" name="delete" value="Delete" ng-click="delete()" class="btn btn-danger">Delete</button>
  </div>
  <p>
    {{ latestResult }}
  </p>
  <p>
    {{ note.body_text }}
  </p>
</form>
